.userDiv {
    text-align: center;
    margin: 30px;
    border: solid 2px;
    border-color: black;
}


.userBoxContainer {
    position: relative;
  }
  
  .userDiv {
    padding-right: 25px;
  }
  